* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.game-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 400px;
}

h1 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

p{
  padding-bottom: 20px;
}

.input-container {
  margin-bottom: 20px;
}

input {
  padding: 10px;
  font-size: 16px;
  width: 80%;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #28a745;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

button:disabled {
  background-color: #ccc;
}

.message {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #ff6347;
}

.attempts {
  font-size: 16px;
  margin-top: 10px;
}

.reset-button {
  background-color: #007bff;
  margin-top: 20px;
  display: none;
  padding: 10px 20px;
}

.reset-button:hover {
  background-color: #0056b3;
}
